@font-face{
  font-family: "OpenSans";
  src: url(../fonts/noto-sans/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face{
  font-family: "OpenSans";
  src: url(../fonts/noto-sans/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face{
  font-family: "OpenSans";
  src: url(../fonts/noto-sans/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face{
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue/BebasNeue-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face{
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue/BebasNeue-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face{
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue/BebasNeue-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face{
  font-family: "icons";
  src: url(../fonts/webfonts/fa-light-300.ttf) format("truetype");
  font-weight: 300;
}

@font-face{
  font-family: "icons";
  src: url(../fonts/webfonts/fa-brands-400.ttf) format("truetype");
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "notoSans";
  font-weight: 400;
}

*::before,
*::after{
  font-family: "icons";
}

.icon-chevrone::before{
  content: "\f078";
  font-weight: 300;
}
.icon-right::before{
  content: "\f054";
  font-weight: 300;
}

.container{
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  min-height: 40px;
  /* border: 1px solid red; */
}

:root{
  --dark: #313131;
  --white: #FFFFFF;
  --black: #010101;
  --dark-light: #0F0F0F;
  --gray: #ABABAB;
  --gray-text: #BBBBBB;
  --border: #C4C4C4;
  --red: #D23535;
  --limpid: #979797;
}
/* navbar */
.navbar{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.navbar-logo img{
  width: 100%;
  height: 47px;
}
.navbar-menu,
.navbar-menu__list{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.navbar-menu__list a{
  color: var(--white);
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
}
.navbar-menu__list ul{
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  padding-top: 10px;
  gap: 60px;
}
.navbar-menu__list-pic{
  display: flex;
  padding-top: 5px;
}
.navbar-menu__list-pic img{
  height: 30px;
  background: var(--white);
}
/* header */
.header{
  width: 100%;
  height: 1200px;
  /* min-height: 960px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img{
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 110%;
  /* height: 100%; */
}
.header__content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 7px;
}
.header__content h1{
  font-family: "Bebas Neue";
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  line-height: 73px;
}
.header__content h3{
  max-width: 526px;
  font-family: "Bebas Neue";
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.header--story{
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid blue; */
}
.header--story p{
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: var(--white);
  text-transform: uppercase;
}
.header--story span{
  color: var(--white);
  font-size: 25px;
}
/* slider */
.slider{
  width: 100%;
  height: 1100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__img{
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
.slider-content{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid yellow; */
}
.slider-content__info{
  width: 50%;
  height: 50%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid blue; */
}
.slider-content__info h3,
.content__info h3,
.require-content__info h3,
.opinion-content__data--title h3,
.book__info h3{
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
}
.slider-content__info h1{
  max-width: 515px;
  font-family: "Bebas Neue";
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  border-bottom: 3px solid var(--white);
}
.slider-content__info p{
  max-width: 546px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.slider-content__info span{
  border-bottom: 6px solid var(--red);
}
.slider-content__core{
  width: 50%;
  height: 50%;
  /* border: 1px solid purple; */
}
.slider-js{
  display: flex;
  max-width: 1320px;
  height: 600px;
  background: #111111;
  position: relative;
}
.slider-list{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider-list__item{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #ffffff;
  background: orange;
  /* border: 3px solid red; */
}
.slider-list__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-btn{
  width: 150px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 50px;
  opacity: 0.5;
  transition: opacity 0.3s;
  z-index: 5;
}
.next{
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #000000);
}
/* .slider-btn:hover{
  opacity: 1;
} */
.slider-dots{
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 20px;
  /* background: red; */
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.slider-dots li{
  width: 20px;
  height: 20px;
  background: var(--black);
  border-radius: 30px;
  cursor: pointer;
  transition: width 0.3s;
}
.slider-dots li.active{
  width: 50px;
  background: var(--white);
}
/* content */
.content{
  width: 100%;
  height: 100%;
  background: var(--black);
}
.content__data{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid yellow; */
}
.content__info{
  width: 100%;
  height: 100%;
  max-width: 600px;
  min-height: 700px;
  /* min-height: 500px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid blue; */
}
.content__info h1{
  display: flex;
  padding-bottom: 40px;
  font-family: "Bebas Neue";
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}
.content-dots{
  padding: 10px;
  width: 100%;
  bottom: 20px;
  left: 0;
  gap: 60px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  /* border: 1px solid palegreen; */
}
.content-dots li{
  width: 20px;
  height: 20px;
  background: var(--red);
  border-radius: 30px;
  cursor: pointer;
  transition: width 0.3s;
}
.content-dots li.active{
  width: 20px;
  background: var(--white);
  transition: 0.3s;
}
.content-dots__title{
  text-transform: uppercase;
  max-width: 360px;
  font-weight: 700;
  font-family: "Bebas Neue";
  font-size: 36px;
  line-height: 36px;
  color: var(--red);
}
.content-dots__info{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
.content-dots__text{
  display: flex;
  position: relative;
  max-width: 363px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.content-dots__text.active{
  display: none;
  transition: 0.5s;
}
.content__img{
  max-width: 550px;
  height: 850px;
  display: flex;
  object-fit: cover;
}
/* require */
.require{
  width: 100%;
  height: 1100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.require__img{
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
.require-content{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
  /* border: 1px solid yellow; */
}
.require-content__info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid palegreen; */
}
.require-content__info--title{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 60%;
  height: 30%;
  /* border: 1px solid blue; */
}
.require-content__info--title h1{
  font-family: "Bebas Neue";
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}
.require-content__info--table{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid purple; */
}
.require-core{
  width: 450px;
  min-height: 350px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
.require-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  min-height: 50px;
  border: 1px solid var(--limpid);
}
.require-item span{
  max-width: 262px;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--red);
}
.require-item p{
  max-width: 514px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.require-item:nth-of-type(5){
  grid-column: 1 / span 2;
}
/* opinion */
.opinion{
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opinion__img{
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
.opinion-content{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid yellow; */
}
.opinion-content__data{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid palegreen; */
}
.opinion-content__data--review{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 411px;
  /* border: 1px solid olive; */
}
.opinion-content__data--title h1{
  max-width: 411px;
  font-family: "Bebas Neue";
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}
.opinion-content__data--info p{
  max-width: 435px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.opinion-content__data--info--btn{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  height: 60px;
  border-radius: 4px;
  background: var(--red);
}
.opinion-content__data--info--btn a{
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.opinion-content__data--core{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  /* border: 1px solid blue; */
}
.opinion-content__data--card{
  width: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  max-width: 452px;
  height: 200px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  /* border: 1px solid silver; */
}
.opinion-content__data--short{
  width: 262px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opinion-content__data--short img{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  width: 62px;
  height: 62px;
  border-radius: 30px;
  background: var(--red);
}
.opinion-content__data--name{
  display: flex;
  flex-direction: column;
}
.opinion-content__data--name span{
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--red);
}
.opinion-content__data--name p{
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.opinion-content__data--descrip{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 15px;
}
.opinion-content__data--descrip span{
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.opinion-content__data--descrip p{
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
}
/* book */
.book{
  display: flex;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  background: var(--black);
}
.book__data{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid yellow; */
}
.book__info{
  width: 100%;
  height: 100%;
  max-width: 600px;
  min-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid blue; */
}
.book__info h1{
  display: flex;
  padding-bottom: 20px;
  font-family: "Bebas Neue";
  color: var(--white);
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}
.book__info p{
  display: flex;
  padding-bottom: 20px;
  max-width: 645px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.book--info__btn{
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  height: 60px;
  border-radius: 4px;
  background: var(--red);
}
.book--info__btn a{
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.book_img{
  max-width: 485px;
  height: 694px;
  display: flex;
  object-fit: cover;
}
/* footer */
.footer{
  width: 100%;
  height: 100%;
  background: var(--black);
}
.footer__info{
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 22px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--limpid);
  /* border: 1px solid gold; */
}
.footer__info p{
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
}

@media (max-width: 1400px){}
@media (max-width: 1200px){
  .slider-content{
    flex-direction: column;
  }
  .slider-js{
    width: 100%;
    height: 100%;
  }
  .opinion{
    height: 1100px;
  }
  .book__data{
    flex-direction: column;
    align-items: center;
  }
  .book__info{
    justify-content: stretch;
    padding-top: 30px;
  }
}
@media (max-width: 992px){
  .header__content h1{
    font-size: 70px;
    line-height: 63px;
  }
  .slider-content__info{
    gap: 5px;
  }
  .slider-content__info h1{
    font-size: 60px;
    line-height: 60px;
  }
  .slider-content__info h3{
    font-size: 18px;
    line-height: 18px;
  }
  .content__data{
    flex-direction: column;
    align-items: center;
  }
  .content__info,
  .content-dots{
    align-items: center;
  }
  .require-content__info--title h1{
    font-size: 60px;
  }
  .opinion-content__data{
    row-gap: 40px;
    flex-direction: column;
  }
  .opinion-content__data--core{
    width: 100%;
    height: 100%;
    flex-direction: column;
    column-gap: 25px;
  }
  .opinion-content__data--card{
    height: 50%;
  }
  .opinion-content__data--review{
    row-gap: 20px;
    padding-top: 20px;
    width: 50%;
    height: 50%;
    justify-content: center;
  }
  .opinion-content__data--descrip{
    height: 100%;
    row-gap: 0px;
    justify-content: space-between;
  }
}
@media (max-width: 768px){
  .navbar-menu__list ul{
    gap: 30px;
  }
  .navbar-logo img{
    height: 45px;
  }
  .header__content h1{
    font-size: 50px;
    line-height: 53px;
  }
  .slider-content__info h1{
    font-size: 40px;
    line-height: 40px;
  }
  .slider-content__info p{
    font-size: 15px;
    line-height: 15px;
  }
  .slider-content__core{
    width: 75%;
    height: 75%;
  }
  /* .slider-js{
    display: none;
  } */
  .require-content__info--title h1{
    font-size: 45px;
  }
}
@media (max-width: 576px){
  .navbar-menu,
  .navbar-menu__list ul{
    flex-direction: column;
  }
  .navbar-logo img{
    height: 100%;
  }
  .header__content h1{
    font-size: 40px;
    line-height: 33px;
  }
  .header__content h3{
    font-size: 20px;
    line-height: 20px;
  }
  .navbar-menu__list-pic{
    display: none;
  }
  .slider-content__info h1{
    font-size: 25px;
    line-height: 25px;
  }
  .slider-content__info h3{
    font-size: 15px;
    line-height: 15px;
  }
  .content__img{
    width: 70%;
    height: 70%;
  }
  .require-content__info--title h1{
    font-size: 35px;
  }
}
@media (max-width: 480px){
  .header__content h1{
    font-size: 26px;
    line-height: 30px;
  }
  .header__content h3{
    font-size: 18px;
    line-height: 18px;
  }
  .slider-content__info h1{
    font-size: 20px;
    line-height: 20px;
  }
  .slider-content__info{
    width: 75%;
    height: 75%;
  }
  .slider-content__core{
    width: 100%;
    height: 100%;
  }
  .content__img{
    width: 50%;
    height: 50%;
  }
  .content-dots{
    align-items: stretch;
  }
  .require-core{
    display: block;
  }
  .require-content__info--table{
    align-items: flex-end;
  }
  /* .require-content__info--table{
    align-items: stretch;
  } */
  .require-content__info--title h1{
    font-size: 20px;
  }
  .opinion-content__data--title h3{
    font-size: 20px;
    line-height: 20px;
  }
  .opinion-content__data--title h1{
    font-size: 60px;
    line-height: 60px;
  }
  .opinion{
    height: 1400px;
  }
  .book_img{
    width: 60%;
    height: 60%;
  }
  .book__info h1{
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 320px){
  .header__content h1{
    font-size: 25px;
    line-height: 25px;
  }
  .header__content h3{
    font-size: 19px;
    line-height: 19px;
  }
  /* .require-core{
    display: block;
  } */
  /* .require-content__info--table{
    align-items: flex-end;
  } */
}